src/main/mule/hhhhhhh.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="hhhhhhhFlow" doc:id="2bb6c070-745a-48f7-86e4-6ab37199237a" >
		<http:listener doc:name="Listener" doc:id="c369d2b5-9e44-41ef-b6b9-b55d2bd4b73c" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="9ef7875b-3bd5-49d9-8ea3-4bea6915b3eb" />
	</flow>
</mule>
